<!DOCTYPE html>
<html>
<head>
  <title>TwixtApp</title>

  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Font-Awesome for Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>


	<div id="navbar">
    <%= link_to image_tag("logo.png", :class => "logo-image"), groups_path %>
    <nav class="navy">
      <ul> 
      	<% if session[:user_id] %> 
       		<%= link_to user_path(:user_id) do %>
	       		<div id="photo-div" title="Link to users profile" style='background-image: url(#{user.avatar});'>		
	       		</div>  
	       	<% end %>  
   			<% end %>
        <% if session[:user_id] %>
        	<%= link_to logout_path, method: :delete do %>
        		<li>Logout</li>
        	<% end %>
        <% else %>
       		<%= link_to root_path do %>
       			<li>Login</li>
					<% end %>
        <% end %>

        
        	<li class="click-me-to-add-group"> <i class="fa fa-plus-square group-add-icon">  Group</i> </li>
	
        
        <%= link_to groups_path(session[:user_id]) do %> 
        	<li> <i class="fa fa-users group-nav-icon"></i> </li>
        <% end %>  
    	</ul>
    </nav>  
  </div>

  <div class="hidden-new-group-box">
    <h3>Create a New Group</h3>
    <%= form_for @group, url: {action: "create"} do |f| %>
      <div><%= f.label :name, class:"new-group-label" %></div>
      <div><%= f.text_field :name, class:"new-group-form" %></div>
      <div class="create-group-btn"><%= f.submit "Create a Group", class:"btn btn-primary" %></div>
    <% end %>
  </div>

	<div class="buffer"></div>


	<% flash.each do |key, value| %>
	  <% if key == "notice" %>
	    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
	  <% elsif key == "alert" %>
	    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
	  <% elsif key == "info" %>
	    <%= content_tag :div, value, class: "text-center alert alert-info" %>
	  <% else %>
	    <%= content_tag :div, value, class: "text-center alert alert-success" %>
	  <% end %>
	<% end %> 

<%= yield %>

</body>
</html>
