<div class="new-list-button btn btn-primary"> Add a New List</div>

<div class="hidden-list-box">
  <h3>Create a New List</h3>
	<%= form_for @list, url: group_lists_path, method: :post do |f| %>
    <div><%= f.label "List Name:", class:"new-list-label" %></div>
    <div><%= f.text_field :name, value: " ", autofocus: true, class:"new-list-form" %></div>
    <div class="create-list-btn"><%= f.submit "Create a new List", class:"btn btn-primary" %></div>
  <% end %>
</div>

<div>	
	<div class="list-list-toggles">   
		<div class="list-list-toggles-inner">
			<% @lists.each do |list| %>
				<div class="list-toggle-box", data-id= <%= list.id %>>
					
					<h5><%= list.name %></h5>
				</div>
			<% end %>
		</div>
	</div>
	<h6 class="lists-label">Toggle Lists to Show</h6>
</div>
<div class="list-display">
	


</div>


