<h3 class="float-left"><%= @group.name %> Lists</h3>

<div>
<% @members.each do |member| %>
    <div class="user-mini-profile">
        <div class="photo-div" title="Link to users profile" style="background-image: url(<%= member.avatar %>);"></div>
        <div class="user-first-name"><%= member.first_name %></div>
    </div>

<% end %>
</div>

<div class="hidden-list-box">
      <h3>Create a New List</h3>
      <%= form_for [group,new_list], url: group_lists_path(params[:group_id]), method: :post do |f| %>
        <div><%= f.label "List Name:", class:"new-list-label" %></div>
        <div><%= f.text_field :name, value: " ", autofocus: true, class:"new-list-form" %></div>
        <div class="create-list-btn"><%= f.submit "Create a new List", class:"btn btn-primary" %></div>
      <% end %>
    </div>
<div class="render-forms-here">
    <i class="close-me-button fa fa-times"></i>
    
<!-- 
        <div class="new-reminder-form">
            <h3>Send a reminder</h3>
            

        </div> -->




    <!-- <div class="new-item-form-box">
        <h3>Add a new item to your list</h3>
        <form action="/groups/:group_id/items/" class="add-item-form" method="POST">
            <div>
                <div class='item-name-label'><label for="title">Name: </div>
                    <input type="text" name="item[name]" id="name" class="add-item-form" autofocus>
                </label>
            </div>
            <div class='item-description-label'><label> Decription of Issue: </label></div>    
                <div id ="item-description" class="text-box">    
                        <textarea name="item[description]" rows="5" cols="20" id="description" class="add-item-description"></textarea>
                </div>
            <div>
                <label for="uploadcare"> Upload an Image.</label>
            </div>
            <div class="image-upload-div">
                <input type="hidden" name="item[image_url]" role="uploadcare-uploader" id="uploadcare-widget" class="image-upload" />
            </div>                
            <div>
                <input type="submit" value="Create New Issue" class="add-item-submit-button">
            </div>
        </form>
    </div> -->

</div>    

<div>    
    <div class="list-list-toggles">   
        <div class="list-list-toggles-inner">
            <% @lists.each do |list| %>
                <div class="hidden-remove-box">
                     <h5>Are you sure you want to delete this list?</h5>
                     <%= button_to 'Delete', {:controller => :lists, :action => "destroy", id: list.id }, class: "delete-button btn btn-danger btn-xs", :method => :delete%>
                     <button class="cancel-button btn btn-xs btn-success">Cancel</button>
                </div>
                <div class="list-toggle-box", data-id= <%= list.id %> data-name="<%= list.name %>" >
                    <div class="remove-list-div"><i class="remove-list fa fa-minus-square", data-id=<%= list.id %>></i></div>
                    <div><h5 class="list-name"><%= list.name %></h5></div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="list-display">
    
    <!-- <div class="list-item-box", data-id="LIST ID">
        <div class="list-header">
            <h4 class="list-name-text">List Name</h4>
            <i class="add-item-icon fa fa-plus"></i>
        </div>
        <div class="list-body">
            <ul class="list-ul">
                <li class="list-li">
                    <div class="list-item-header">
                        <i class="collapse-icon fa fa-caret-square-o-down"></i>
                        <h7 class="list-item-name">Item Name</h7>
                        <i class="easy-upload-button fa fa-camera"></i>
                        <i class="google-calendar-button fa fa-calendar"></i>
                        <i class="schedule-email-button fa fa-envelope-o"></i>
                        <i class="schedule-text-button fa fa-phone-square"></i>
                        
                    </div>
                    <div class="list-item-body">
                        <img src="" alt="">
                    </div>
                    <div class="list-item-footer">
                        <i class="item-completed-button fa fa-check-square"></i>
                        <i class="delete-item-button fa fa-minus-square"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->


</div>